@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

html,
body {
    touch-action: manipulation;
    overflow: hidden;
    font-family: serif;
    background-color: black;
}

#nexser_program {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Courier;
    font-size: x-large;
    display: none;
    height: 100vh;
    width: 100%;
    color: darkblue;
    background: darkblue;
}

code>textarea {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
}

.screen_light {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
    opacity: 0;
}

.restart_text {
    display: none;
    background: black;
    height: 100vh;
    font-family: Courier;
    font-size: 20px;
    pointer-events: none;
}

.restart_text>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nexser_boot_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    height: 100vh;
    width: 100%;
    color: white;
}

.parent_graph {
    background-color: gray;
    width: 30px;
    position: absolute;
    right: 10px;
    height: 75%;
    bottom: 0px;
}

.child_graph {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/* li */
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

/* hover */

.hover_red:hover {
    color: white;
    background: red;
}

.hover_blue:hover {
    background: darkblue;
    color: white;
}

.hover_green:hover {
    color: white;
    background: green;
}

/* text */

.bold {
    font-weight: bold;
}

.white_text {
    color: white;
}

.black_text {
    color: black;
}

.lime_text {
    color: lime;
}

.red_text {
    color: red;
}

.blue_text {
    color: blue;
}

/* text_size */

.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

/* text_design */

.bold {
    font-weight: bold;
}

/* text_decoration */

.underline {
    text-decoration: underline;
}

/* border */

.program_border {
    border: solid 1.5px white;
}

.border {
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

.border2 {
    background: darkgray;
    border: 1.5px solid;
    border-color: #333 #eee #eee #333;
}

/* desktop */

#desktop {
    display: none;
}

.mini_screen {
    width: 200px;
    height: 200px;
    background: #555555;
    position: relative;
}

.mini_desktop {
    width: 180px;
    height: 180px;
    background: #52adad;
    position: absolute;
    top: 10px;
    left: 10px;
}

#background_text2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 12.5px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    font-size: 50px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text.block {
    display: block;
}

.nexser_group {
    display: block;
}

/* nexser */

#nex {
    display: block;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#nex.old {
    margin-left: 8%;
    margin-right: 8%;
    overflow: hidden;
    position: relative;
    width: auto;
}

#nexser {
    display: none;
    width: 100%;
    height: 100vh;
    background: #52adad;
}

.start_nexser {
    font-size: x-large;
    position: absolute;
    bottom: 0;
    left: 250px;
}

/* buttons */

.task_buttons.pressed {
    background: darkgray;
    padding-top: 1px;
    padding-left: 1px;
    box-sizing: border-box;
}

.button,
.button2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    display: inline-block;
    color: black;
    background-color: #C3C7CB;
    border: 1.8px solid #808080;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;
    box-sizing: border-box;
}

.button.pressed,
.button2.pressed {
    padding-top: 1px;
    padding-left: 1px;
    background-color: darkgray;
    border: 1.5px solid;
    border-color: #7a7a7a #fff #fff #7a7a7a;
    box-shadow: 0.5px 0.5px 0 #000 inset;
}

.apply_button {
    width: 75px;
    height: 30px;
    box-sizing: border-box;
    outline: 1.5px dotted black;
    outline-offset: -5px;
    text-align: center;
    box-sizing: border-box;
}

.apply_button2 {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    outline: 1.5px dotted black;
    outline-offset: -5px;
    text-align: center;
    box-sizing: border-box;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* files */

#files {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

input[type="file"] {
    display: none;
}

/* toolbar */
#toolbar {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 175px;
    height: 30px;
    border: 1.8px solid #808080;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;
    background: #DDDDDD;
    position: absolute;
    right: 0px;
    bottom: 40px;
    z-index: 999996;
}

#toolbar>div>div>span {
    margin-left: 2px;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    float: left;
    box-sizing: border-box;
}

/* taskbar */
#taskbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: #C3C7CB;
    border-top: 1.5px solid whitesmoke;
    border-bottom: 1.5px solid #333;
    position: absolute;
    bottom: -1px;
    z-index: 999996;
}

.start_button {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    bottom: 0px;
    left: 10px;
    top: 7px;
    width: 45px;
    height: 26.5px;
    background-color: #C3C7CB;
    border: 1.8px solid #808080;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;

}

.start_button.pressed {
    padding-top: 1px;
    padding-left: 1px;
    box-sizing: border-box;
    border: 1.5px solid;
    border-color: #7a7a7a #fff #fff #7a7a7a;
    box-shadow: 0.5px 0.5px 0 #000 inset;
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

#taskbar .first_taskbar_buttons {
    display: flex;
    position: absolute;
    left: 65px;
    top: 7px;
    break-inside: avoid;
    box-sizing: border-box;
    float: left;
    width: auto;
    border-left: solid 2px white;
    border-right: solid 2px white;
    padding-right: 5.5px;
}

.first_taskbar_buttons>.button2 {
    display: block;
    margin-left: 5px;
    break-inside: avoid;
    box-sizing: border-box;
    float: left;
    width: 30px;
    text-align: center;
    height: 26.5px;
}

#taskbar .taskbar_buttons {
    position: absolute;
    top: 0px;
    break-inside: avoid;
    box-sizing: border-box;
    float: left;
    display: flex;
    overflow: auto;
    height: min-content;
}

#taskbar .task_icons {
    margin-top: 7px;
    height: 30px;
}

.task_icons .task_buttons {
    display: block;
    box-sizing: border-box;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    width: 145px;
    height: 26.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task_icons .task_buttons.tsk_pressed {
    padding-top: 1px;
    padding-left: 1px;
    box-sizing: border-box;
    border: 1.5px solid;
    border-color: #7a7a7a #fff #fff #7a7a7a;
    box-shadow: 0.5px 0.5px 0 #000 inset;
    background: #DDDDDD;
    font-weight: 800;
    text-shadow:
        0.3px 0.3px 0,
        0.3px -0.3px 0px,
        -0.3px 0.3px 0,
        -0.3px -0.3px 0px,
        0.3px 0px 0px,
        0px 0.3px 0px,
        -0.3px 0px 0px,
        0px -0.3px 0px;
}

.taskbar_rightgroup {
    display: flex;
    font-size: medium;
    position: absolute;
    right: 0px;
    top: 6px;
}

.screen_light_range_child {
    display: none;
    width: 120px;
    height: 30px;
    background: silver;
    position: absolute;
    bottom: 36px;
    left: -85px;
}

.inport_icon {
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    background-color: #C3C7CB;
    border: 1.8px solid;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;
}

.time {
    background: silver;
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
}

.task_battery {
    background: silver;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.battery_menu {
    display: none;
    background: silver;
}

.battery_time {
    background: silver;
    position: absolute;
    bottom: 35px;
}

/* start_menu */
.parent_start_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.child_start_menu,
.child_start_menu_lists,
.child_start_menu_lists2,
.child_start_menu_lists3 {
    position: absolute;
    background-color: #C3C7CB;
    border: 1.8px solid;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;
}

.child_start_menu {
    width: 150px;
    bottom: 40px;
    z-index: 999998;
}

.parent_start_menu_lists {
    position: relative;
    margin-left: 25px;
}

.child_start_menu_lists {
    display: none;
    width: 170px;
    left: 125px;
    top: 0px;
}

.child_start_menu_lists2 {
    display: none;
    width: 170px;
    left: 170px;
    top: -1.5px;
}

.child_start_menu_lists3 {
    display: none;
    width: 170px;
    left: 170px;
    top: -1px;
}

.list_right_text {
    position: absolute;
    right: 0;
}

.startmenu_file_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 3px;
    left: 5px;
    border: 1.5px solid;
    border-color: #eee #000 #000 #eee;
    box-shadow: 1.5px 1.5px dimgray;
    pointer-events: none;
}

/* window */
.back_silver {
    background: silver;
}

#soft_windows {
    width: 100%;
    height: 100%;
}

.child_windows {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: auto;
    height: auto;
    background: whitesmoke;
    color: black;
    border: 3.5px solid #c0c0c0;
    box-shadow: 1.5px 1.5px #333333, -1.5px -1.5px whitesmoke;
    position: absolute;
    z-index: 1;
    min-width: min-content;
    min-height: 22px;
    overflow: hidden;
}

.file_windows {
    width: 605px;
    height: 450px;
}

.child_windows::-webkit-scrollbar {
    opacity: 0.5;
}

.window_bottom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    background: silver;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2.5px dimgray;
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
}

/* soft_windows */

.sound_menu {
    width: 400px;
}

.clock_menu {
    width: 305px;
    height: 385px;
}

.mouse_menu {
    width: 400px;
}

.window_prompt {
    width: 600px;
    height: 300px;
    background-color: black;
}

.nexser_sound_menu {
    width: 600px;
}

.sound_play_button {
    display: block;
    float: left;
    height: 24px;
    box-sizing: border-box;
}

.sound_stop_button {
    display: inline-block;
    height: 24px;
    box-sizing: border-box;
}

.file_download_menu {
    width: 300px;
}

.display_menu {
    width: 600px;
    height: 325px;
}

.note_pad {
    width: 600px;
    height: 400px;
}

.debug_menu {
    width: 300px;
}

.cpu_bench_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 700px;
    max-height: 445px;
    min-width: 300px;
}

.windowmode_menu {
    width: 300px;
}

.font_menu {
    width: 200px;
}

.youtubevideo_menu {
    width: 800px;
    height: 500px;
    min-width: 250px;
}

#youtubeframe {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 22.5px;
}

.uploadvideo_menu {
    width: 600px;
    height: 400px;
    min-width: 250px;
}

.device_menu {
    width: 550px;
    height: auto;
    min-width: 150px;
}

.text_drop_menu {
    height: 300px;
    width: 500px;
}

#drop {
    position: absolute;
}

.nexser_files_menu {
    width: 600px;
    height: 400px;
}

.camera_menu {
    width: 500px;
    height: 400px;
    min-width: 300px;
}

.url_drop_menu {
    width: 400px;
    height: 300px;
    min-width: 200px;
}

.nexser_files_menu {
    min-width: 600px;
    min-width: 300px;
}

.localstorage_details_menu {
    width: 700px;
    height: 500px;
}

.console_error_menu {
    width: 600px;
    height: 400px;
}

.kakeibo_menu {
    width: 800px;
    height: 500px;
}

.nexser_nextversion_menu {
    width: 900px;
    height: 500px;
    min-width: 250px;
}

.alarm_menu {
    width: 300px;
}

.command_help_menu {
    width: 500px;
    height: 300px;
}

.mydocument_menu {
    width: 700px;
    height: 400px;
}

.restriction_menu {
    width: 300px;
    min-width: 250px;
    height: 110px;
}

.location_menu {
    width: 300px;
    min-width: 250px;
    height: auto;
}

.delete_btn {
    margin: 2px;
}

#v {
    position: absolute;
}

/* color_btn */

.color_btn {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    box-sizing: border-box;
}

/* scrollbar */

::-webkit-scrollbar {
    display: block;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-image: radial-gradient(#CCCCCC 1.5px, #ffffff 1.5px);
    background-size: 4px 4px;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

::-webkit-scrollbar-button {
    background: silver;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

::-webkit-scrollbar-corner {
    background: silver;
}

body::-webkit-scrollbar {
    display: none;
    z-index: 1;
}

.scrollbar_none::-webkit-scrollbar {
    display: none;
    z-index: 1;
}

::-webkit-resizer {
    background: rgba();
}

/* drag color */

/*Firefox用のベンダープレフィックス付き*/
::-moz-selection {
    background-color: darkblue;
    color: white;
}

::selection {
    background-color: darkblue;
    color: white;
}

.welcome_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    width: 700px;
    height: 400px;
}

.welicon_1 {
    width: 125px;
    height: 125px;
    background: silver;
    position: absolute;
    bottom: 160px;
    right: 150px;
    border: solid 10px #73a5d7;
    outline: solid 1px #99CCFF;
    box-shadow: 10px 10px #333333;
    background: linear-gradient(-140deg, steelblue 20%, whitesmoke);
}

.welicon_2 {
    width: 125px;
    height: 125px;
    background: silver;
    position: absolute;
    bottom: 60px;
    right: 50px;
    border: solid 10px #6699CC;
    outline: solid 1px #669999;
    box-shadow: 10px 10px #333333;
    background: linear-gradient(40deg, steelblue 25%, blue);
}

.login_form {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.login_buttons {
    position: relative;
    left: 80px;
}

/* miniwindow */

.mini_window {
    display: block;
    width: auto;
    height: auto;
    border-top: solid 1px black;
}

.mini_window_left_screen {
    background: #52adad;
    width: 200px;
    height: 100%;
    position: absolute;
}

.mini_window_left_content {
    position: absolute;
    top: 50px;
    left: 205px;
}

.mini_window_taskbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 100%;
    height: 30px;
    background-color: #C3C7CB;
    border-top: solid 1.5px whitesmoke;
    border-bottom: 1.5px #333 solid;
    position: absolute;
    bottom: 50px;
    z-index: 999996;
}

.mini_window_startmenu {
    width: 150px;
    height: 265px;
    background-color: #C3C7CB;
    position: absolute;
    bottom: 30px;
    outline: solid 1px dimgray;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

.mini_windows_sample {
    display: block;
    font-size: 15px;
    width: auto;
    height: 300px;
    background: whitesmoke;
    color: black;
    border: 3.5px solid #c0c0c0;
    box-shadow: 1.5px 1.5px #333333, -1.5px -1.5px whitesmoke;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 0;
    min-width: max-content;
    min-height: 22.5px;
}

/* guidebook */

.guide_window {
    width: 550px;
    height: 450px;
}

.error_windows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    background: whitesmoke;
    color: black;
    border: 3.5px solid #c0c0c0;
    box-shadow: 1.5px 1.5px #333333, -1.5px -1.5px whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pass_signin_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    height: 90px;
    width: 300px;
    position: absolute;
}

.password_menu {
    width: 250px;
}

.window_error_text {
    display: inline-block;
    margin-top: 25px;
    margin-left: 35px;
}

/* screensaver */
.screen_saver_group {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 999998;
    pointer-events: none;
}

.screen_saver1 {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    color: white;
    top: 0;
    z-index: 999999;
}

.screen_saver2 {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    color: black;
    top: 0;
    z-index: 999999;
}

.screen_saver3 {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: gray;
    color: white;
    text-shadow: 5px 5px 2.5px black;
    font-weight: bold;
    font-size: x-large;
    top: 0;
    z-index: 999999;
}

.warning_icon {
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    width: 24px;
    line-height: 30px;
    border-bottom: solid 1.5px black;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: yellow;
    color: black;
    position: absolute;
    left: 5px;
    text-align: center;
    justify-content: center;
}

.error_icon {
    display: block;
    font-size: 16.5px;
    font-family: monospace;
    height: 24px;
    width: 24px;
    line-height: 25px;
    border: solid 1px darkred;
    box-shadow: 1.5px 1.5px dimgray;
    background: #FF0033;
    border-radius: 20px;
    color: white;
    position: absolute;
    left: 2px;
    top: 46.5px;
    text-align: center;
    justify-content: center;
    text-shadow: 0.2px 0.2px 0, 0.2px -0.2px 0px, -0.2px 0.2px 0, -0.2px -0.2px 0px, 0.2px 0px 0px, 0px 0.2px 0px, -0.2px 0px 0px, 0px -0.2px 0px;
}

.warning_windows {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    width: auto;
    height: auto;
    background: whitesmoke;
    color: black;
    border: 3.5px solid #c0c0c0;
    box-shadow: 1.5px 1.5px #333333, -1.5px -1.5px whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child_windows.active {
    display: none;
}

.child_windows.minimization {
    pointer-events: none;
}

.child_windows_invisible {
    opacity: 0;
}

.child_windows.big {
    height: 100%;
    width: 100%;
    border: none;
    background: whitesmoke;
    resize: none;
}

.child_windows .title {
    width: 100%;
    position: absolute;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.child_windows .title.text_center {
    text-align: center;
}

.title_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 5px;
    left: 5px;
    border: 1.5px solid;
    border-color: #eee #000 #000 #eee;
    outline: 1px solid gray;
}

.title span:nth-child(2) {
    margin-left: 30px;
}

.child_windows.big .minscreen_button {
    display: block;
}

.child_windows.big .bigscreen_button {
    display: none;
}

.child_windows.big .drag_button {
    display: none;
}

/* system_menu */
.system_menu {
    width: 600px;
    height: 325px;
}

/* window_icon */

.window_file_icon {
    width: 60px;
    height: 45px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px black;
    box-shadow: 2px 2px dimgray;
    pointer-events: none;
}

.window_file_icon2 {
    width: 60px;
    height: 45px;
    background: white;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border: 1.5px dotted black;
    pointer-events: none;
}

/* desktop_icon */

.desktop_files {
    display: block;
    position: relative;
    padding-top: 45px;
    width: 110px;
    color: white;
    left: 5px;
    top: 5px;
}

.desktop_files_text {
    padding-left: 5px;
    padding-right: 5px;
    background: #52adad;
    pointer-events: none;
    position: absolute;
    bottom: 0;
}

.desktop_files_text.file_select {
    background: darkblue;
    outline: 1.5px dotted white;
    outline-offset: 0px;
    pointer-events: none;
}

.dli-folder {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -32.5px;
    left: 5px;
    width: 4.20em;
    height: 2.90em;
    border: 0.1em solid;
    border-color: whitesmoke black black whitesmoke;
    border-radius: 0 0.1em 0.1em 0.1em;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
    box-shadow: 3px 3px dimgray;
    pointer-events: none;
}

.dli-folder>span {
    position: absolute;
    left: -0.1em;
    bottom: 100%;
    width: 1.5em;
    height: 0.25em;
    background: khaki;
    border: 0.1em solid whitesmoke;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0.1em 0.1em 0 0;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
}

.dli-folder>span::before {
    content: '';
    position: absolute;
    top: -0.1em;
    left: calc(100% - 0.1em);
    width: 0.175em;
    height: 0;
    border-top: 0.05em solid currentColor;
    transform: rotate(55deg);
    transform-origin: left bottom;
    box-sizing: content-box;
}

/* title */
.title {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background: gray;
    color: white;
    pointer-events: none;
    font-weight: bold;
    z-index: 1;
}

.title.navy {
    background: navy;
}

.title2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 auto;
    white-space: nowrap;
    display: flex;
    background: #c0c0c0;
    height: 25px;
    position: relative;
    top: 0px;
    line-height: 25px;
    z-index: 1;
}

.title2 li:hover {
    background: darkblue;
    color: white;
}

.window_tool {
    display: none;
    background: silver;
    border-top: solid 1.5px gray;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 auto;
}

.window_tool_2 {
    background: silver;
    border-top: solid 1.5px gray;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 auto;
}

.windowtool_buttons {
    display: inline;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 53px;
    left: 210px;
}

.windowtool_buttons_child {
    height: 100%;
}

.windowtool_parent {
    display: block;
    background: whitesmoke;
    width: 200px;
    height: 20px;
    border: 1.5px solid;
    border-color: black black dimgray black;
    outline: solid 0.5px gray;
    margin-top: 4px;
}

.windowtool_child {
    display: none;
    overflow-y: scroll;
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    border: solid 1.5px dimgray;
    outline: solid 1px black;
    position: absolute;
    top: 80px;
    font-size: medium;
    text-align: left;
    justify-content: center;
    z-index: 1;
}

.winchild_border {
    display: block;
    border-top: solid 1px white;
    position: absolute;
    width: 100%;
    top: 50px;
}

.windowtool_child li {
    padding-left: 35px;
}

.windowtool_child>ul>li:hover {
    background: darkblue;
    color: white;
}

.nexser_search_menu {
    width: 850px;
    height: 450px;
}

#myUL {
    break-inside: avoid;
}

#myUL>li {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 200px;
    box-sizing: border-box;
    height: 30px;
    float: left;
}

.pointer_none {
    pointer-events: none;
    color: gray;
}

#nexser_program li:hover {
    background: darkblue;
    color: white;
}

/* window_inline_menus */
.window_inline_menus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background: rgba();
    height: 20px;
    width: 500px;
    position: relative;
    top: 20px;
    left: 10px;
}

.window_inline_menus_parent {
    display: inline-block;
    height: 20px;
    font-size: 12.5px;
    background-color: #c0c0c0;
    border: 1.5px solid;
    border-color: whitesmoke black black whitesmoke;
    border-radius: 1.5px;
    z-index: 2;
}

.window_inline_menus_parent.select {
    margin-top: -2.5px;
    border-bottom: solid 2px silver;
    outline: 1.5px dotted black;
    outline-offset: -5px;
    z-index: 1;
}

.menuparent1 {
    margin-top: -2.5px;
    border-bottom: solid 2px silver;
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

.window_inline_menus_child {
    width: 580px;
    height: 250px;
    display: none;
    background-color: #c0c0c0;
    border: 1.5px solid;
    border-color: whitesmoke black black whitesmoke;
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: medium;
    text-align: center;
    justify-content: center;
}

.window_menus_title {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    left: 0px;
}

.window_menu_right_content {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
}

.borderinline_dotted {
    display: inline-block;
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

/* title_buttons child */

.title_buttons {
    background-color: rgba();
    position: relative;
    bottom: 0.5px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.title_buttons>.button2 {
    background-color: #C3C7CB;
    width: 19px;
    height: 19px;
}

.allclose_button {
    position: absolute;
    top: 3px;
    right: 3.5px;
    box-sizing: border-box;
}

.allclose_button::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    transform: rotate(45deg);
    height: 12px;
    width: 2px;
    background-color: black;
}

.allclose_button::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    transform: rotate(-45deg);
    height: 12px;
    width: 2px;
    background-color: black;
}

.pressed.allclose_button::before {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.pressed.allclose_button::after {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

/* 飾り */

.drag_button {
    position: absolute;
    width: 100%;
    right: 100px;
    right: 0px;
}

.bigscreen_button {
    position: absolute;
    top: 3px;
    right: 23px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    box-sizing: border-box;
    text-shadow:
        0.3px 0.3px 0,
        0.3px -0.3px 0px,
        -0.3px 0.3px 0,
        -0.3px -0.3px 0px,
        0.3px 0px 0px,
        0px 0.3px 0px,
        -0.3px 0px 0px,
        0px -0.3px 0px;
}

.bigscreen_button::before {
    content: "";
    display: block;
    margin-right: 8px;
    position: absolute;
    display: block;
    left: 2px;
    top: 2px;
    box-shadow: black 0px 3px inset, black 0px 0px 0px 1px inset;
    height: 12px;
    width: 12px;
}

.pressed.bigscreen_button::before {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.minscreen_button {
    display: none;
    position: absolute;
    top: 3px;
    right: 23px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    box-sizing: border-box;
}

.minscreen_button::before {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    top: 2px;
    box-shadow: black 0px 3px inset, black 0px 0px 0px 1px inset;
    height: 8px;
    width: 8px;
}

.minscreen_button::after {
    content: "";
    position: absolute;
    display: block;
    left: 3px;
    top: 7px;
    box-shadow: black 0px 3px inset, black 0px 0px 0px 1px inset;
    height: 8px;
    width: 8px;
}

.minimization_button {
    position: absolute;
    top: 3px;
    right: 42.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    box-sizing: border-box;
    text-shadow:
        0.35px 0.35px 0,
        0.35px -0.35px 0px,
        -0.35px 0.35px 0,
        -0.35px -0.35px 0px,
        0.35px 0px 0px,
        0px 0.35px 0px,
        -0.35px 0px 0px,
        0px -0.35px 0px;
}

.minimization_button::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 12px;
    height: 2px;
    width: 8px;
    background-color: black;
}

.pressed.minimization_button::before {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.pressed.minscreen_button::before {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.pressed.minscreen_button::after {
    margin-top: 1.5px;
    margin-left: 1.5px;
}

.pointer_none::before,
.pointer_none::after {
    opacity: 0.3;
}

.frame_fullbutton {
    position: absolute;
    top: 3px;
    right: 62.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    box-sizing: border-box;
}

.frame_fullbutton::before {
    content: "FL";
}

/*list */

.parent_list {
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.child_list {
    display: none;
    z-index: 99999;
    line-height: 20px;
    position: absolute;
    top: 2.5px;
}

.child_list ul {
    display: block;
    position: absolute;
    top: 20px;
    width: auto;
    background-color: #C3C7CB;
    color: black;
    border: 1.8px solid #808080;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    box-shadow: 0.5px 0.5px black;
}

.child_list ul.shadow,
.sample_child_list ul.shadow {
    box-shadow: 5px 5px black;
}

.child_list li {
    padding-left: 15px;
    padding-right: 15px;
}

.sample_child_list {
    display: block;
    z-index: 99999;
    line-height: 20px;
    position: absolute;
    top: 2.5px;
}

.sample_child_list ul {
    position: absolute;
    top: 20px;
    width: 90px;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px whitesmoke;
}

.window_contents {
    overflow: auto;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.window_inline_list {
    display: inline-flex;
    flex-wrap: wrap;
    background: whitesmoke;
}

.window_inline_list2 {
    column-count: 1;
}

.window_inline_side {
    display: inline;
    width: 110px;
    height: 100%;
    background: silver;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    float: right;
}

.window_files {
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 52.5px;
    min-width: max-content;
    width: 100px;
}

.window_files>li {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window_files.file_border {
    background: blue;
    color: white;
}

.window_files.file_border2 {
    outline: 1.5px dotted darkblue;
    outline-offset: -1.5px;
}

.window_files.file_border3 {
    outline: 1.5px dotted red;
    outline-offset: -1.5px;
}

.window_files>.windowfile_time {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    font-size: small;
    padding-left: 10px;
}

.child_start_menu li:hover {
    color: white;
    background: darkblue;
}

/* mouse */
.mouse_left.active {
    background: blue;
    color: white;
}

.mouse_right.active {
    background: blue;
    color: white;
}

.mouse_miniwindow {
    width: 185px;
    height: 150px;
    background: gray;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.mouse_testbutton {
    position: absolute;
    left: 10px;
}

.mouse_testbutton span {
    margin-top: 5px;
}

/* note */

.note_area {
    width: min-content;
    background: white;
    overflow: scroll;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    resize: none;
    position: absolute;
}

/* textarea */

textarea {
    display: block;
    border-radius: 0;
    padding: 2.5px;
}

/* objective */

.objective_menu {
    min-width: 300px;
    width: 800px;
    height: 550px;
}

.objective_title_area {
    position: absolute;
    background: white;
    white-space: nowrap;
}

.objective_area {
    margin-top: 60px;
    background: whitesmoke;
    white-space: nowrap;
    resize: none;
    font-size: large;
    position: absolute;
}

/* paint */

.paint_menu {
    height: 570px;
}

/* calc */

.calc_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 210px;
}

.calc_button {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 3px;
    font-size: large;
    width: 34px;
    height: 31px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    color: black;
    background: silver;
    box-sizing: border-box;
}


#editor_2 {
    position: absolute;
    margin: 2.5px;
    background-color: white;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
}

.editor_tool>button {
    margin-bottom: 100px;
    height: 25px;
    display: inline;
}

#print-area {
    display: none;
}

/* htmlviewer */

#editor {
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 350px;
    resize: none;
}

.htmlviewer_edit_menu {
    width: 800px;
    height: 500px;
    min-width: 400px;
}

.prompt_shell_menu {
    width: 600px;
    height: 50vh;
    min-width: 200px;
}

#shell {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    background: black;
    color: white;
    font-family: Courier;
    font-size: small;
}

#preview {
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.htmlviewer_run_menu {
    width: 600px;
    height: 50vh;
    min-width: 200px;
    min-height: 22.5px;
}

.editor_menu {
    width: 850px;
    height: 500px;
    min-width: 200px;
    min-height: 22.5px;
}


/* power_icon */
.power_supply {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 16px;
}

.power_supply::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.9em;
    height: 0.9em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    content: "";
}

.power_supply::after {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.12em;
    height: 0.6em;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    background-color: currentColor;
    content: "";
}

/* magnifying_glass */

.magnifying_glass {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: black;
    font-size: 15px;
}

.magnifying_glass::before {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 0.7em;
    height: 0.7em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    background-color: skyblue;
    content: "";
    z-index: 1;
}

.magnifying_glass::after {
    position: absolute;
    top: 3px;
    left: 50%;
    z-index: -1;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 1em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
    z-index: 0;
}

/* tetris */

.tetris_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#next {
    position: relative;
    left: 5px;
    background: dimgray;
}

.stage {
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.stage.active {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tetris.active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.tetris {
    display: none;
    background: white;
    position: absolute;
    top: 100px;
    left: 0px;
    height: 390px;
    width: 360px;
}

.wrapper-container {
    margin-top: 28px;
    position: relative;
    right: 1px;
    display: inline-block;
}

.tetris-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: gray;
    height: 100%;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    background-color: gray;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
    margin: 0;
    padding: 0;
}

.tetris-button-panel.tetbtn {
    border-style: none;
    position: relative;
    left: -10px;
}

.tetris-button-panel.tetbtn.active {
    position: relative;
    left: -10px;
}

.tetris-button.tetbtn {
    display: block;
    float: left;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
}

.tetris-button.tetbtn2 {
    display: block;
    height: 70px;
    text-align: center;
    position: relative;
    left: 50px;
    bottom: 0px;
    box-sizing: border-box;
}

.tetris-button.tetbtn2.active {
    left: 50px;
}

#canvas.line {
    width: 1px;
    height: 100%;
    background: green;
}

/* calendar */

.calendar_content {
    width: auto;
    background: gray;
    position: relative;
    font-size: large;
}

td.today {
    background-color: red;
    color: #fff;
}

td {
    padding: 5px;
    font-size: large;
    text-align: center;
}

.wrapper {
    color: black;
    background: whitesmoke;
}

#header {
    text-align: center;
    font-size: x-large;
    width: 100%;
    margin: 0px;
    color: black;
    pointer-events: none;
}

/* background_pattern */

.backgrounds1 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background-image: radial-gradient(black 1.5px, rgba(0, 0, 0, 0) 1.5px);
    background-size: 4px 4px;
}

.backgrounds2 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background-image: radial-gradient(black 2px, rgba(0, 0, 0, 0) 2px);
    background-size: 10px 10px;
}

.backgrounds3 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    font: 120% bold;
    padding: 0.6em;
    background:
        conic-gradient(at 5% 45%, #caa0a0 90deg, transparent 90deg) 0px 0px/20px 20px, conic-gradient(at 5% 45%, #caa0a0 90deg, transparent 90deg) 10px 10px/20px 20px, #eeeeee;
}

.backgrounds4 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    font: 120% bold;
    padding: 0.6em;
    background:
        conic-gradient(at 5% 45%, #EDFFBE 90deg, transparent 90deg) 0px 0px/20px 20px, conic-gradient(at 5% 45%, #FFFFBB 90deg, transparent 90deg) 10px 10px/20px 20px, gray;
}

.backgrounds5 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(black 4px, transparent 4px), linear-gradient(90deg, black 4px, transparent 4px), linear-gradient(black 2px, transparent 2px), linear-gradient(90deg, black 2px, rgba(0, 0, 0, 0) 2px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
}

.backgrounds6 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(0deg, darkgray 25%, dimgray 50%, teal 75%);
    background-size: 20px 20px;
}

.backgrounds7 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background-image: repeating-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, teal 75%, gray), repeating-linear-gradient(45deg, dimgray 25%, gray 25%, whitesmoke 75%, black 75%, dimgray);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}

.backgrounds8 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background: linear-gradient(#3f96cd, hsl(171, 40%, 91%));
}

.backgrounds9 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    background: linear-gradient(-150deg, teal, steelblue);
}

.pattern_btn {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    box-sizing: border-box;
}

.display_pattern_btn {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    box-sizing: border-box;
}

/* progress */
#myProgress {
    display: none;
}

progress {
    width: 100%;
    height: 30px;
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
}

progress::-webkit-progress-bar {
    background-color: black;
}

progress::-webkit-progress-value {
    background-color: gray;
}

#prompt {
    display: none;
    height: 100vh;
    font-family: Courier;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#prompt .name {
    font-size: small;
    width: 50%;
    background: black;
    border: none;
    color: white;
}

.focus {
    font-family: Courier;
}

.focus2 {
    font-family: Courier;
}

#prompt2 {
    font-family: Courier;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.window_prompt_content2 {
    background-color: black;
    position: absolute;
    top: 50px;
}

.command_input2 {
    font-family: Courier;
    position: relative;
    font-size: small;
    width: 100%;
    border: none;
    color: white;
    background-color: black;
    resize: none;
    padding: 0px;
}

.input_container {
    display: flex;
    font-size: small;
}

.input_container>textarea::-webkit-scrollbar {
    display: none;
}


.bom_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    height: 500px;
}

#board {
    position: absolute;
    top: 100px;
    margin-left: 5px;
    border-collapse: collapse;
    background: dimgray;
}

#board>tr {
    width: 30px;
    height: 30px;
}

#board>tr>td {
    display: inline-block;
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    width: 20px;
    height: 20px;
    margin: 0.2px;
}

.flag::before {
    font-family: "Material Icons";
    content: "\e153";
}

#board .open {
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
    background: darkgray;
    color: black;
}

#board .bomb {
    background: red;
    color: white;
}

.bomb::before {
    font-family: "Material Icons";
    content: "B";
}

#board .clear {
    display: inline-block;
    background-color: limegreen;
    color: white;
    font-family: "Material Icons";
    content: "B";
}

.clear::before {
    font-family: "Material Icons";
    content: "B";
}

.bom_table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

/* othello */

.othello_board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.othello_black {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.othello_white {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.nexser_files_menu ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nexser_files_menu ul li {
    margin: 5px 0;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nexser_files_menu ul li::before {
    content: "\1F4C4";
    position: absolute;
    left: -20px;
}

.nexser_files_menu .nexser_files_file {
    color: blue;
    background: darkgray;
    border-top: 1.5px dimgray solid;
    border-left: 1.5px dimgray solid;
    border-bottom: 1.5px whitesmoke solid;
    border-right: 1.5px whitesmoke solid;
}

.nexser_files_menu .nexser_files_folder {
    color: green;
    font-weight: bold;
    background: darkgray;
    border-top: 1.5px dimgray solid;
    border-left: 1.5px dimgray solid;
    border-bottom: 1.5px whitesmoke solid;
    border-right: 1.5px whitesmoke solid;
    height: max-content;
}

.nexser_background_image {
    display: block;
    position: absolute;
    z-index: 0;
}

.nexser_background_image * {
    width: 100%;
    height: 100%;
}

.rectangle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    border: 1.5px dashed deepskyblue;
    background: skyblue;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
}

.resize_none {
    resize: none;
}

/* window resizes */
.resizer {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    margin: -2.5px;
}

.big .resizer {
    display: none;
}

.minimization .resizer {
    display: none;
}

.resizer.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
    z-index: 2;
    width: 12.5px;
    height: 12.5px;
    z-index: 2;
}

.resizer.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
    z-index: 2;
    width: 12.5px;
    height: 12.5px;
    z-index: 2;
}

.resizer.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
    z-index: 2;
    width: 12.5px;
    height: 12.5px;
    z-index: 2;
}

.resizer.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
    z-index: 2;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.resizer.top {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
    width: 100%;
    z-index: 1;
}

.resizer.right {
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    cursor: ew-resize;
    height: 100%;
    z-index: 1;
}

.resizer.bottom {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
    width: 100%;
    z-index: 1;
}

.resizer.left {
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    cursor: ew-resize;
    height: 100%;
    z-index: 1;
}

/* memory_game */

#game-board {
    background: green;
}

.memory_game_menu {
    width: 1100px;
    height: 250px;
}

.card {
    display: inline-block;
    border: solid 2px gray;
    box-shadow: 5px 5px black;
    background: white;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    width: 80px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
    margin-top: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

.card_hidden {
    border: solid 2px gray;
    box-shadow: 5px 5px black;
    background: white;
}

.card_matched {
    background-color: #90EE90;
}

.pinned {
    background-color: yellow;
}

.item_preview {
    position: relative;
}

.testwindow2 {
    position: absolute;
    min-width: 250px;
    min-height: 22px;
}

.white_space_wrap {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}

.test_site_menu {
    width: 500px;
    height: 400px;
}

.site_frame {
    position: absolute;
    width: 100%;
    height: 100%;
}

#opacitySlider {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 40px;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    transition: opacity .2s;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

#opacitySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: silver;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

#opacitySlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: silver;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

.content_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color_panel_parent {
    z-index: 1;
    position: absolute;
    background: silver;
    top: 90px;
    z-index: 99999;
}

.color_panel_child {
    display: flex;
    gap: 10px;
}

.recent-colors {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}

.color-box {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.recent-colors-section {
    display: flex;
    flex-direction: column;
}

.img_border {
    border: solid 2px black;
}