@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    touch-action: manipulation;
    overflow: hidden;
    font-family: serif;
    background-color: black;
}

#nexser_program {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Courier;
    font-size: x-large;
    display: none;
    height: 100vh;
    width: 100%;
    color: darkblue;
    background: darkblue;
}

.restart_text {
    display: none;
    background: black;
    height: 100vh;
    font-family: Courier;
    font-size: 20px;
    pointer-events: none;
}

.restart_text>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nexser_boot_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    height: 100vh;
    width: 100%;
    color: white;
    z-index: 999;
}

.parent_graph {
    background-color: gray;
    width: 30px;
    position: absolute;
    right: 10px;
    height: 75%;
    bottom: 0px;
}

.child_graph {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/* li */
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

/* hover */

.hover_red:hover {
    color: white;
    background: red;
}

.hover_blue:hover {
    background: darkblue;
    color: white;
}

.hover_green:hover {
    color: white;
    background: green;
}

/* text */

.bold {
    font-weight: bold;
}

.white_text {
    color: white;
}

.black_text {
    color: black;
}

.lime_text {
    color: lime;
}

.red_text {
    color: red;
}

.blue_text {
    color: blue;
}

/* text_size */

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

/* text_design */

.bold {
    font-weight: bold;
}

/* text_decoration */

.underline {
    text-decoration: underline;
}

/* border */

.program_border {
    border: solid 1.5px white;
    outline: none;
}

.border {
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    outline: none;
}

.border2 {
    background: darkgray;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
    border-bottom: 1.5px whitesmoke solid;
    border-right: 1.5px whitesmoke solid;
    outline: none;
}

/* desktop */

#desktop {
    display: none;
}

.mini_screen {
    width: 200px;
    height: 200px;
    background: #555555;
    position: relative;
}

.mini_desktop {
    width: 180px;
    height: 180px;
    background: #52adad;
    position: absolute;
    top: 10px;
    left: 10px;
}

#background_text2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 12.5px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    font-size: 50px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text.block {
    display: block;
}

#prompt {
    display: none;
    height: 100vh;

    font-family: Courier;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#prompt2 {
    height: 200px;
    width: 500px;
}

.focus {
    font-family: Courier;
}

#prompt2 {
    font-family: Courier;
    color: white;
    background: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.focus2 {
    font-family: Courier;
}

.nexser_group {
    display: block;
}

#prompt .name {
    font-size: small;
    width: 50%;
    background: black;
    border: none;
    outline: none;
    color: white;
}

#prompt2 .name2 {
    font-size: small;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background: black;
}

/* nexser */

#nex {
    display: block;
    filter: blur(0px);
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#nex.old {
    filter: blur(0.3px);
    margin-left: 8%;
    margin-right: 8%;
    overflow: hidden;
    position: relative;
    width: auto;
}

#nexser {
    display: none;
    width: 100%;
    height: 100vh;
    background: #52adad;
}

.start_nexser {
    font-size: x-large;
    position: absolute;
    bottom: 0;
    left: 250px;
}

/* buttons */

.button {
    display: inline-block;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    box-shadow: 0 0 0 0.5px dimgray;
    color: black;
    background: silver;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

.button.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
}

button.pressed {
    padding-left: 1px;
    width: auto;
}

.button2 {
    display: inline-block;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    box-shadow: 0 0 0 0.5px dimgray;
    color: black;
    background: silver;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

.button2.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
}

span.pressed {
    padding-left: 1px;
    width: auto;
}

/* files */

#files {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

input[type="file"] {
    display: none;
}

/* toolbar */
#toolbar {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 175px;
    height: 30px;
    background-color: #DDDDDD;
    outline: 1px solid gray;
    outline-offset: 0.4px;
    box-shadow: 0 0 0 0.5px whitesmoke, 0 0 0 1.5px dimgray;
    position: absolute;
    right: 0px;
    bottom: 40px;
    z-index: 999996;
}

.drag_button2 {
    background: gray;
}

/* taskbar */
#taskbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: silver;
    border-top: solid 1.5px whitesmoke;
    border-bottom: 1.5px #333 solid;
    position: absolute;
    bottom: -1px;
    z-index: 999996;
}

.start_button {
    display: inline-block;
    background: silver;
    position: relative;
    bottom: 0px;
    left: 10px;
    top: 7px;
    box-shadow: 0 0 0 0.5px dimgray;
}

.start_button.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

#taskbar .taskbar_buttons {
    position: absolute;
    height: 100%;
    left: 60px;
    top: 0px;
}

#taskbar .task_icons {
    margin-top: 7px;
    height: 65%;
    border-left: solid 2px white;
    border-right: solid 2px white;
}

#taskbar .button {
    margin-left: 2px;
    margin-right: 2px;
}

.taskbar_rightgroup {
    width: 250px;
    font-size: medium;
    position: absolute;
    right: 5px;
    column-count: 3;
    top: 6px;
}

.inport_icon {
    background: silver;
    position: absolute;
    left: -30px;
    text-align: center;
}

.time {
    background: silver;
    position: relative;
    text-align: center;
    margin-left: 50px;
}

.task_battery {
    width: 135px;
    background: silver;
    position: relative;
}

.battery_menu {
    display: none;
    position: absolute;
    bottom: 35px;
}

/* start_menu */
.parent_start_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.child_start_menu {
    width: 150px;
    background: silver;
    position: absolute;
    bottom: 40px;
    z-index: 999998;
    outline: solid 1px dimgray;
}

.parent_start_menu_lists {
    position: relative;
    margin-left: 25px;
}

.child_start_menu_lists {
    display: none;
    position: absolute;
    width: 170px;
    background-color: silver;
    left: 125px;
    top: 0px;
    outline: solid 1px dimgray;
}

.child_start_menu_lists2 {
    display: none;
    position: absolute;
    width: 170px;
    background-color: silver;
    left: 170px;
    top: -1.5px;
    outline: solid 1px dimgray;
}

.child_start_menu_lists3 {
    display: none;
    position: absolute;
    width: 170px;
    background-color: silver;
    left: 170px;
    top: -1px;
    outline: solid 1px dimgray;
}

.list_right_text {
    position: absolute;
    right: 0;
}

.startmenu_file_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 3px;
    left: 5px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    box-shadow: 3px 3px dimgray;
    outline: 1px solid gray;
    pointer-events: none;
}

.button_file_icon {
    display: block;
    width: 15px;
    height: 9.5px;
    background-image: radial-gradient(whitesmoke 1px, gray 1px);
    background-size: 3px 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    outline: 1px solid dimgray;
    pointer-events: none;
}

.button_file_icon2 {
    display: block;
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    outline: 1px solid gray;
    pointer-events: none;
}

.button_file_icon3 {
    display: block;
    width: 15px;
    height: 9.5px;
    background-image: radial-gradient(steelblue 1px, skyblue 1px);
    background-size: 3px 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    outline: 1px solid gray;
    pointer-events: none;
}

/* window */
#soft_windows {
    width: 100%;
    height: 100%;
}

.child_windows {
    display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2.5px #c0c0c0;
    outline: 1px solid gray;
    outline-offset: 0.4px;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2px dimgray,
        0 0 0 2.5px #000000;
    background: whitesmoke;
    position: absolute;
    z-index: 1;
    min-width: min-content;
    min-height: 22.5px;
    overflow: hidden;
}

.file_windows {
    width: 605px;
    height: 450px;
}

.child_windows::-webkit-scrollbar {
    opacity: 0.5;
    background: yellow;
}

.child_windows.default {
    top: 20%;
    left: 25%;
    z-index: 1;
}

.window_bottom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: darkgray;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2px dimgray;
    position: absolute;
    bottom: 0px;
    width: 99.5%;
}

/* soft_windows */

.sound_menu {
    width: 400px;
}

.clock_menu {
    width: 200px;
}

.mouse_menu {
    width: 400px;
}

.nexser_sound_menu {
    width: 300px;
}

.sound_play_button {
    height: 21.5px;
}

.file_download_menu {
    width: 300px;
}

.display_menu {
    width: 600px;
    height: 325px;
}

.debug_menu {
    width: 300px;
}

.cpu_calc_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.windowmode_menu {
    width: 200px;
}

.font_menu {
    width: 200px;
}

/* color_btn */

.color_btn {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* scrollbar */

::-webkit-scrollbar {
    display: block;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-image: radial-gradient(#CCCCCC 1.5px, #ffffff 1.5px);
    background-size: 4px 4px;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
}

::-webkit-scrollbar-button {
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
}

::-webkit-scrollbar-corner {
    background: silver;
}

body::-webkit-scrollbar {
    display: none;
    z-index: 1;
}

::-webkit-resizer {
    background: rgba();
}

/* drag color */

/*Firefox用のベンダープレフィックス付き*/
::-moz-selection {
    background-color: gray;
    color: white;
}

::selection {
    background-color: gray;
    color: white;
}


.welcome_windows {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    width: 700px;
    height: 400px;
    border: solid 2px #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid gray;
    outline-offset: 0.5px;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2px dimgray,
        0 0 0 2.5px black;
    z-index: 99999;
}

.welicon_1 {
    width: 125px;
    height: 125px;
    background: silver;
    position: absolute;
    bottom: 160px;
    right: 150px;
    border: solid 10px #73a5d7;
    outline: solid 1px #99CCFF;
    box-shadow: 10px 10px #333333;
    background: linear-gradient(-140deg, steelblue 20%, whitesmoke);
}

.welicon_2 {
    width: 125px;
    height: 125px;
    background: silver;
    position: absolute;
    bottom: 60px;
    right: 50px;
    border: solid 10px #6699CC;
    outline: solid 1px #669999;
    box-shadow: 10px 10px #333333;
    background: linear-gradient(40deg, steelblue 25%, blue);
}

.login_form {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.login_buttons {
    display: inline-block;
    position: relative;
    left: 100px;
}

.resize {
    resize: both;
}

/* miniwindow */

.mini_window {
    display: block;
    width: auto;
    height: auto;
    border-top: solid 1px black;
}

.mini_window_left_screen {
    background: #52adad;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0px;
}

.mini_window_left_content {
    position: absolute;
    top: 50px;
    left: 205px;
}

.mini_window_taskbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 100%;
    height: 30px;
    background-color: silver;
    border-top: solid 1.5px whitesmoke;
    border-bottom: 1.5px #333 solid;
    position: absolute;
    bottom: -1px;
    z-index: 999996;
}

.mini_window_startmenu {
    width: 150px;
    height: 195px;
    background: silver;
    position: absolute;
    bottom: 30px;
    outline: solid 1px dimgray;
}

.mini_windows_sample {
    display: block;
    font-size: 15px;
    width: auto;
    height: 300px;
    border: solid 2px #c0c0c0;
    outline: 1px solid gray;
    outline-offset: 0.5px;
    background: whitesmoke;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 0;
    min-width: max-content;
    min-height: 22.5px;
}

/* guidebook */

.guide_window {
    width: 550px;
    height: 450px;
}

.error_windows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2px #c0c0c0;
    outline: 1px solid gray;
    outline-offset: 0.4px;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2px dimgray,
        0 0 0 2.5px black;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test_allwindow {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 999998;
}

/* screensaver */
.screen_saver_group {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 999998;
    pointer-events: none;
}

.screen_saver1 {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    color: white;
    top: 0;
    z-index: 999999;
}

.warning_icon {
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 22.5px;
    border: solid 1.5px black;
    box-shadow: 1.5px 1.5px dimgray;
    background: yellow;
    color: black;
    position: absolute;
    left: 5px;
    text-align: center;
    justify-content: center;
}

.error_icon {
    display: block;
    font-size: 15px;
    font-family: monospace;
    height: 22px;
    width: 22px;
    line-height: 23px;
    border: solid 1px darkred;
    box-shadow: 1.5px 1.5px dimgray;
    background: #FF0033;
    border-radius: 20px;
    color: white;
    position: absolute;
    left: 2px;
    top: 46.5px;
    text-align: center;
    justify-content: center;
}

.warning_windows {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2px #c0c0c0;
    outline: 1px solid gray;
    outline-offset: 0.4px;
    box-shadow: 0 0 0 1.5px whitesmoke,
        0 0 0 2px dimgray,
        0 0 0 2.5px black;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error_windows.active {
    display: none;
}

.child_windows.active {
    display: none;
}

.child_windows.big {
    height: 100%;
    width: 100%;
    border: none;
    background: whitesmoke;
    resize: none;
}

.child_windows.leftwindow {
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.child_windows.rightwindow {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.child_windows .title {
    width: 100%;
    position: absolute;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 5px;
    left: 5px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    outline: 1px solid gray;
}

.child_windows.big .minscreen_button {
    display: block;
}

.child_windows.big .bigscreen_button {
    display: none;
}

.child_windows.big .drag_button {
    display: none;
}

/* system_menu */
.system_menu {
    width: 600px;
    height: 325px;
}

/* window_icon */

.window_file_icon {
    width: 60px;
    height: 45px;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #000 solid;
    border-right: 1.5px #000 solid;
    box-shadow: 2.5px 2.5px dimgray;
    outline: 1px solid gray;
    pointer-events: none;
}

.window_file_icon2 {
    width: 60px;
    height: 45px;
    background: white;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border: 1.5px dotted black;
    pointer-events: none;
}

/* desktop_icon */

.desktop_files {
    display: block;
    position: relative;
    padding-top: 40px;
    width: 110px;
    color: white;
    left: 5px;
    top: 5px;
}

.desktop_files_text {
    padding-left: 5px;
    padding-right: 5px;
    background: #52adad;
    pointer-events: none;
}

.desktop_files_text.file_select {
    background: darkblue;
    outline: 1.5px dotted white;
    outline-offset: 0px;
    pointer-events: none;
}

.dli-folder {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -30px;
    left: 5px;
    width: 4.20em;
    height: 2.90em;
    border-left: 0.1em solid whitesmoke;
    border-top: 0.1em solid whitesmoke;
    border-right: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-radius: 0 0.1em 0.1em 0.1em;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
    box-shadow: 3px 3px dimgray;
    pointer-events: none;
    outline: 1px solid gray;
}

.dli-folder>span {
    position: absolute;
    left: -0.1em;
    bottom: 100%;
    width: 1.5em;
    height: 0.25em;
    background: khaki;
    border: 0.1em solid whitesmoke;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0.1em 0.1em 0 0;
    background-image: radial-gradient(#FFFFBB 1px, #CCCC66 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
}

.dli-folder>span::before {
    content: '';
    position: absolute;
    top: -0.1em;
    left: calc(100% - 0.1em);
    width: 0.175em;
    height: 0;
    border-top: 0.05em solid currentColor;
    transform: rotate(55deg);
    transform-origin: left bottom;
    box-sizing: content-box;
}

/* title */
.title {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    /* background-color: navy; */
    background: gray;
    color: white;
    pointer-events: none;
    font-weight: bold;
    z-index: 1;
}

.title.navy {
    background: navy;
}

.title_buttons {
    background-color: rgba();
    position: relative;
    bottom: 0px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.title2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    display: flex;
    background: #c0c0c0;
    height: 25px;
    position: relative;
    top: 0px;
    line-height: 25px;
    z-index: 1;
}

.title2 li:hover {
    outline: 1.5px dotted black;
    outline-offset: -3px;
}

.window_tool {
    display: none;
    background: silver;
    border-top: solid 1.5px gray;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.windowtool_buttons {
    display: inline;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 54px;
    left: 210px;
}

.windowtool_buttons_child {
    width: auto;
    height: 25px;
}

.windowtool_parent {
    display: block;
    background: whitesmoke;
    width: 200px;
    height: 20px;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px dimgray;
    outline: solid 0.5px gray;
    margin-top: 4px;
}

.windowtool_child {
    display: none;
    overflow-y: scroll;
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    border: solid 1.5px dimgray;
    outline: solid 1px black;
    position: absolute;
    top: 80px;
    font-size: medium;
    text-align: left;
    justify-content: center;
    z-index: 1;
}

.winchild_border {
    display: block;
    border: solid 0.5px white;
    position: absolute;
    width: 100%;
    top: 50px;
}

.windowtool_child li {
    padding-left: 35px;
}

.windowtool_child>ul>li:hover {
    background: darkblue;
    color: white;
}

.pointer_none {
    pointer-events: none;
    color: gray;
}

#nexser_program li:hover {
    background: darkblue;
    color: white;
}

/* window_inline_menus */
.window_inline_menus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    background: rgba();
    height: 20px;
    width: 500px;
    position: relative;
    top: 20px;
    left: 10px;
}

.window_inline_menus_parent {
    display: inline-block;
    height: 20px;
    font-size: 12.5px;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-top: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    border-radius: 3px;
    z-index: 2;
}

.window_inline_menus_parent.select {
    margin-top: -2.5px;
    border-bottom: solid 2px silver;
    outline: 1.5px dotted black;
    outline-offset: -5px;
    z-index: 1;
}

.menuparent1 {
    margin-top: -2.5px;
    border-bottom: solid 2px silver;
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

.window_inline_menus_child {
    width: 580px;
    height: 250px;
    display: none;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px whitesmoke;
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: medium;
    text-align: center;
    justify-content: center;
}

.window_menus_title {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    left: 0px;
}

.window_menu_right_content {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
}

.borderinline_dotted {
    outline: 1.5px dotted black;
    outline-offset: -5px;
}

/* title_buttons */
.close_button {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 3.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16.5px;
}

.close_button2 {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 3.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16.5px;
    z-index: 1;
}

.close_button3 {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 3.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16.5px;
    z-index: 1;
}

/* 飾り */
.close_button4 {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 3.5px;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16.5px;
}

/* 飾り */

.drag_button {
    position: absolute;
    width: 100%;
    right: 100px;
    right: 0px;
}

.bigscreen_button {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 22.5px;
    text-align: center;
    font-size: 11px;
}

.minscreen_button {
    width: 16.5px;
    height: 16.5px;
    display: none;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 23.5px;
    text-align: center;
    font-size: 11px;
}

.minimization_button {
    width: 16.5px;
    height: 16.5px;
    background: #c0c0c0;
    position: absolute;
    top: 3px;
    right: 41.5px;
    text-align: center;
    font-size: 11px;
}

/*list */

.parent_list {
    font-size: 12.5px;
    text-align: center;
    line-height: 25px;
}

.child_list {
    display: none;
    z-index: 99999;
    line-height: 20px;
    position: absolute;
    top: 2.5px;
}

.child_list ul {
    display: block;
    position: absolute;
    top: 20px;
    width: auto;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px whitesmoke;
    outline: solid 1px dimgray;
}

.child_list ul.shadow {
    box-shadow: 5px 5px black;
}

.sample_child_list ul.shadow {
    box-shadow: 5px 5px black;
}

.child_list li {
    padding-left: 15px;
    padding-right: 15px;
}

.child_list li:hover {
    outline: none;
    background: darkblue;
    color: white;
}

.sample_child_list {
    display: block;
    z-index: 99999;
    line-height: 20px;
    position: absolute;
    top: 2.5px;
}

.sample_child_list ul {
    position: absolute;
    top: 20px;
    width: 90px;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px whitesmoke;
    outline: solid 1px dimgray;
}

.window_contents {
    overflow: auto;
    width: 100%;
    height: 100%;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
}

.window_inline_list {
    margin-top: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    background: whitesmoke;
}

.window_inline_list2 {
    column-count: 1;
}

.window_inline_side {
    display: inline;
    width: 110px;
    height: 100%;
    background: silver;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    float: right;
}

.window_files {
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 52.5px;
    min-width: max-content;
    width: 100px;
}

.window_files>li {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window_files.file_border {
    outline: 1.5px dotted darkblue;
    outline-offset: -1.5px;
}

.window_files:hover {
    color: white;
    background: darkblue;
}

.child_start_menu li:hover {
    color: white;
    background: darkblue;
}

/* mouse */
.mouse_left.active {
    background: blue;
    color: white;
}

.mouse_right.active {
    background: blue;
    color: white;
}

.mouse_miniwindow {
    width: 185px;
    height: 150px;
    background: gray;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.mouse_testbutton {
    position: absolute;
    left: 10px;
}

.mouse_testbutton span {
    margin-top: 5px;
}

/* note */

.note_area {
    font-size: large;
    outline: none;
    height: 100%;
    width: 100%;
    min-width: max-content;
    background: white;
    overflow: scroll;
    white-space: nowrap;
}

.child_windows.big .note_area {
    width: 100%;
    height: 80vh;
    resize: none;
}

/* textarea */

textarea {
    display: block;
    border-radius: 0;
    outline: none;
}

/* objective */

.objective_title_area {
    background: white;
    white-space: nowrap;
    height: 100%;
}

.objective_area {
    background: whitesmoke;
    white-space: nowrap;
    resize: both;
    width: 750px;
    height: 400px;
    min-width: 750px;
    min-height: 200px;
    font-size: large;
}

/* calc */

.calc_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 210px;
}

.calc_button {
    margin-top: 5px;
    font-size: large;
    width: 34px;
    height: 31px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    color: black;
    background: silver;
    outline: none;
}

/* htmlviewer */

#editor {
    width: 800px;
    height: 50vh;
}

.child_windows.big #editor {
    height: 85vh;
    width: 99.8%;
    resize: none;
}

#preview {
    display: block;
    width: 600px;
    height: 50vh;
}

.child_windows.big #preview {
    width: 99.9%;
    height: 95.0vh;
}

/* power_icon */
.power_supply {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 16px;
}

.power_supply::before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.9em;
    height: 0.9em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    content: "";
}

.power_supply::after {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.12em;
    height: 0.6em;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    background-color: currentColor;
    content: "";
}

/* magnifying_glass */

.magnifying_glass {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: black;
    font-size: 15px;
}

.magnifying_glass::before {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 0.7em;
    height: 0.7em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    background-color: skyblue;
    content: "";
    z-index: 1;
}

.magnifying_glass::after {
    position: absolute;
    top: 3px;
    left: 50%;
    z-index: -1;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 1em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
    z-index: 0;
}

/* tetris */

.tetris_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#next {
    position: relative;
    left: 5px;
    background: dimgray;
}

.stage {
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.stage.active {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tetris.active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.tetris {
    display: none;
    background: white;
    position: absolute;
    top: 100px;
    left: 0px;
    height: 390px;
    width: 360px;
}

.wrapper-container {
    margin-top: 28px;
    position: relative;
    right: 1px;
    display: inline-block;
}

.tetris-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: gray;
    height: 100%;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    background-color: gray;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
    margin: 0;
    padding: 0;
}

.tetris-button-panel.tetbtn {
    border-style: none;
    position: relative;
    left: -10px;
}

.tetris-button-panel.tetbtn.active {
    position: relative;
    left: -10px;
}

.tetris-button.tetbtn {
    height: 60px;
    text-align: center;
}

.tetris-button.tetbtn2 {
    height: 60px;
    text-align: center;
    position: relative;
    left: 62.5px;
    bottom: 5px;
}

.tetris-button.tetbtn2.active {
    left: 50px;
}

#canvas.line {
    width: 1px;
    height: 100%;
    background: green;
}

/* calendar */

.calendar_content {
    width: auto;
    background: gray;
    position: relative;
    font-size: large;
}

td.today {
    background-color: red;
    color: #fff;
}

td {
    padding: 5px;
    font-size: large;
    text-align: center;
}

.wrapper {
    color: black;
    background: whitesmoke;
}

#header {
    text-align: center;
    font-size: x-large;
    width: 100%;
    margin: 0px;
    color: black;
    pointer-events: none;
}



/* background_pattern */

.backgrounds1 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background-image: radial-gradient(black 1.5px, rgba(0, 0, 0, 0) 1.5px);
    background-size: 4px 4px;
}

.backgrounds2 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background-image: radial-gradient(black 2px, rgba(0, 0, 0, 0) 2px);
    background-size: 10px 10px;
}

.backgrounds3 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    font: 120% bold;
    padding: 0.6em;
    background:
        conic-gradient(at 5% 45%, #caa0a0 90deg, transparent 90deg) 0px 0px/20px 20px, conic-gradient(at 5% 45%, #caa0a0 90deg, transparent 90deg) 10px 10px/20px 20px, #eeeeee;
}

.backgrounds4 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    font: 120% bold;
    padding: 0.6em;
    background:
        conic-gradient(at 5% 45%, #EDFFBE 90deg, transparent 90deg) 0px 0px/20px 20px, conic-gradient(at 5% 45%, #FFFFBB 90deg, transparent 90deg) 10px 10px/20px 20px, gray;
}

.backgrounds5 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background-image: linear-gradient(black 4px, transparent 4px), linear-gradient(90deg, black 4px, transparent 4px), linear-gradient(black 2px, transparent 2px), linear-gradient(90deg, black 2px, rgba(0, 0, 0, 0) 2px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
}

.backgrounds6 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background-image: linear-gradient(0deg, darkgray 25%, dimgray 50%, teal 75%);
    background-size: 20px 20px;
}

.backgrounds7 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background-image: repeating-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, teal 75%, gray), repeating-linear-gradient(45deg, dimgray 25%, gray 25%, whitesmoke 75%, black 75%, dimgray);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}

.backgrounds8 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background: linear-gradient(#3f96cd, hsl(171, 40%, 91%));
}

.backgrounds9 {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;

    background: linear-gradient(-150deg, teal, steelblue);
}

.pattern_btn {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* progress */
#myProgress {
    display: none;
}

progress {
    width: 100%;
    height: 30px;
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
}

progress::-webkit-progress-bar {
    background-color: black;
}

progress::-webkit-progress-value {
    background-color: gray;
}

.bom_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    height: 500px;
}

#board {
    position: absolute;
    top: 100px;
    margin-left: 5px;
    border-collapse: collapse;
    background: dimgray;
}

#board>tr {
    width: 30px;
    height: 30px;
}

#board>tr>td {
    display: inline-block;
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    width: 30px;
    height: 30px;
    margin: 0.2px;
}

.flag::before {
    font-family: "Material Icons";
    content: "\e153";
}

#board .open {
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
    background: darkgray;
    color: black;
}

#board .bomb {
    background: red;
    color: white;
}

.bomb::before {
    font-family: "Material Icons";
    content: "B";
}

#board .clear {
    display: inline-block;
    background-color: limegreen;
    color: white;
    font-family: "Material Icons";
    content: "B";
}

.clear::before {
    font-family: "Material Icons";
    content: "B";
}

.bom_table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}