/* explorer.css */
/* ===== Explorer ヘッダー ===== */
.explorer-header {
    display: flex;
    align-items: center;
    padding: 4px;
    background: #ddd;
    border-bottom: 1px solid #aaa;
}

.explorer-header button {
    margin-right: 8px;
    cursor: pointer;
}

/* ===== Optional: Path label ===== */
.path-label {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.explorer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 重要 */
    padding: 0;
    /* padding があると scrollbar-button が 2 個描画されることがあります */
}

.explorer-list {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    box-sizing: border-box;
}

.explorer-list div {
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-content {
    white-space: pre-wrap;
    padding: 6px;
    font-family: Consolas, monospace;
}




.explorer-item {
    padding: 4px 6px;
    cursor: pointer;
}

.explorer-item:hover {
    background-color: darkblue;
    color: white;
}

.explorer-item.selected {
    background: black;
    /* Windowsっぽい青 */
    color: white;
}


/* ribonn */
.ribbon-menu {
    position: relative;
    padding: 6px;
    cursor: pointer;
}


.ribbon-menu:hover {
    background: darkblue;
    color: white;
}


.ribbon-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #C3C7CB;
    color: black;
    border: 1px solid;
    border-color: #fff #404040 #404040 #fff;
    box-shadow: 1px 1px black;
    display: none;
    min-width: 200px;
    z-index: 1000;
}

.ribbon-menu:hover .ribbon-dropdown {
    display: block;
}

.ribbon-item {
    padding: 4px 8px;
    cursor: pointer;
}

.ribbon-item:hover {
    background: darkblue;
    color: white;
}