/* settings.css */
body[data-theme="light"] {
    --bg-color: white;
    --text-color: black;
}

body[data-theme="dark"] {
    --bg-color: #222;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}