@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

html {
    touch-action: manipulation;
}

body {
    font-family: serif;
    background-color: black;
}

#nexser_program {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    height: 100%;
    width: 100%;
    color: white;
}

.parent_graph {
    background-color: gray;
    width: 30px;
    position: absolute;
    right: 10px;
    height: 75%;
    bottom: 0px;
}

.child_graph {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

/* li */
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

/* hover */

.hover_blue:hover {
    background: darkblue;
    color: white;
}

.hover_red:hover {
    color: white;
    background: red;
}

/* text */

.bold {
    font-weight: bold;
}

.black_text {
    color: black;
}

/* text_design */

.bold {
    font-weight: bold;
}

/* border */

.border {
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    outline: none;
}

/* desktop */

#desktop {
    display: none;
}

.mini_screen {
    width: 200px;
    height: 200px;
    background: #555555;
    position: relative;
}

.mini_desktop {
    width: 180px;
    height: 180px;
    background: #52adad;
    position: absolute;
    top: 10px;
    left: 10px;
}

#background_text2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 12.5px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    font-size: 25px;
    font-style: italic;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background_text.block {
    display: block;
}

#prompt {
    height: 100vh;
    font-family: system-ui;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#prompt2 {
    font-family: system-ui;
    color: white;
    background: rgb(51, 51, 184);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nexser_group {
    display: block;
}

#prompt .name {
    font-size: small;
    width: 50%;
    background: black;
    border: none;
    outline: none;
    color: white;
}

#prompt2 .name2 {
    font-size: small;
    width: 50%;
    border: none;
    outline: none;
    color: white;
    background: rgb(51, 51, 184);
}

/* nexser */

#nexser {
    display: none;
    width: 100%;
    height: 100vh;
    background: #52adad;
}

/* buttons */

.button {
    display: inline-block;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    color: black;
    background: silver;
    outline: none;
}

.button.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
}

.button2 {
    display: inline-block;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    color: black;
    background: silver;
    outline: none;
}

.button2.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
}

/* files */

#files {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* label {
    cursor: pointer;
} */

input[type="file"] {
    display: none;
}

/* toolbar */
#toolbar {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 185px;
    height: 35px;
    background-color: #DDDDDD;
    position: absolute;
    right: 0px;
    bottom: 40px;
    z-index: 999996;
}

.drag_button2 {
    display: inline-block;
    background: gray;
    border: solid 1.5px dimgray;
    width: 22.5px;
    height: 25px;
}

/* taskbar */
#taskbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: silver;
    border-top: solid 1.5px whitesmoke;
    border-bottom: 1.5px #333 solid;
    position: absolute;
    bottom: -1px;
    z-index: 999996;
}

.start_button {
    background: silver;
    position: absolute;
    bottom: 6px;
    left: 10px;
}

.start_button.pressed {
    background: darkgray;
    border-bottom: 1.5px #eee solid;
    border-right: 1.5px #eee solid;
    border-top: 1.5px #333 solid;
    border-left: 1.5px #333 solid;
}

#taskbar .taskbar_buttons {
    position: absolute;
    height: 100%;
    left: 60px;
}

#taskbar .task_icons {
    margin-top: 7px;
    height: 65%;
    border-left: solid 2px white;
    border-right: solid 2px white;
}

#taskbar .button {
    margin-left: 2px;
    margin-right: 2px;
}

.taskbar_rightgroup {
    width: 260px;
    font-size: medium;
    position: absolute;
    right: 5px;
    column-count: 3;
    margin-top: 6px;
}

.inport_icon {
    background: silver;
    position: absolute;
    left: -30px;
    text-align: center;
}

.time {
    background: silver;
    position: relative;
    text-align: center;
    margin-left: 50px;
}

.task_battery {
    width: 130px;
    background: silver;
    position: relative;
}

.battery_menu {
    display: none;
    position: absolute;
    bottom: 35px;
}

/* start_menu */
.parent_start_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.child_start_menu {
    width: 100%;
    background: silver;
    position: absolute;
    bottom: 40px;
    z-index: 999998;
}

.parent_start_menu_lists {
    position: relative;
    margin-left: 30px;
}

.child_start_menu_lists {
    display: none;
    position: absolute;
    width: 170px;
    background-color: silver;
    left: 120px;
    top: 0px;
}

.startmenu_file_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFF66 1px, #CCCC99 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 3px;
    left: 5px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    box-shadow: 3px 3px dimgray;
    pointer-events: none;
}

/* window */
#soft_windows {
    width: 100%;
}

.child_windows {
    display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2px #c0c0c0;
    outline: 1px solid gray;
    outline-offset: 0.5px;
    background: whitesmoke;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;
}

.window_bottom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: darkgray;
    border: solid 1px gray;
    outline: 1px solid #c0c0c0;
    outline-offset: 2px;
    position: absolute;
    bottom: 0px;
    width: 99.7%;
}

/* scrollbar */

::-webkit-scrollbar {
    display: block;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-image: radial-gradient(#CCCCCC 0.5px, #ffffff 0px);
    background-size: 1.5px 1.5px;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
}

::-webkit-scrollbar-button {
    background: silver;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
}

::-webkit-scrollbar-corner {
    background: silver;
}

body::-webkit-scrollbar {
    display: none;
}

.welcome_windows {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 12.5px;
    width: 90%;
    height: 395px;
    border: solid 2px #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid gray;
    outline-offset: 0.5px;
}

.resize {
    resize: both;
    overflow: auto;
}

.mini_window {
    display: block;
    width: auto;
    height: auto;
    border-top: solid 1px black;
}

.error_windows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2px #c0c0c0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test_allwindow {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 999997;
}

/* screensaver */
.screen_saver_group {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 999998;
    pointer-events: none;
}

.screen_saver1 {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    color: white;
    top: 0;
    z-index: 999999;
}

.warning_icon {
    display: block;
    font-size: 12.5px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    border: solid 0.25px black;
    background: yellow;
    color: black;
    position: absolute;
    top: 3.5px;
    left: 5px;
    text-align: center;
    justify-content: center;
}

.error_icon {
    display: block;
    font-size: 12.5px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    border: solid 0.25px orangered;
    background: red;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 3.5px;
    left: 5px;
    text-align: center;
    justify-content: center;
}

.warning_windows {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 15px;
    width: auto;
    height: auto;
    border: solid 2px #c0c0c0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error_windows.active {
    display: none;
}

.child_windows.active {
    display: none;
}

.child_windows.big {
    height: 99.45%;
    width: 99.7%;
    border: solid 2px #c0c0c0;
    background: whitesmoke;
    resize: none;
}

.child_windows.big .window_bottom {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: darkgray;
    border: solid 1px gray;
    outline: 1px solid #c0c0c0;
    outline-offset: 2px;
    position: absolute;
    bottom: 40px;
    width: 99.7%;
}

.child_windows .title {
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
    pointer-events: none;
}

.title_icon {
    width: 18px;
    height: 12.5px;
    background-image: radial-gradient(#FFFF66 1px, #CCCC99 1px);
    background-size: 3px 3px;
    position: absolute;
    margin-top: 4px;
    left: 5px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    pointer-events: none;
}

.child_windows.big .title {
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
    pointer-events: none;

}

.child_windows.big .minscreen_button {
    display: block;
    right: 21px;
}

.child_windows.big .bigscreen_button {
    display: none;
}

.child_windows.big .drag_button {
    display: none;
}

/* system_menu */
.system_menu {
    width: auto;
    height: 250px;
}

/* window_icon */

.window_file_icon {
    width: 60px;
    height: 45px;
    background-image: radial-gradient(#FFFF66 1px, #CCCC99 1px);
    background-size: 3px 3px;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    box-shadow: 5px 5px dimgray;
    pointer-events: none;
}

.window_file_icon2 {
    width: 60px;
    height: 45px;
    background: white;
    position: absolute;
    left: 5px;
    bottom: 26px;
    border: 1.5px dotted black;
    pointer-events: none;
}

/* desktop_icon */


.desktop_files {
    display: block;
    position: relative;
    padding-top: 40px;
    width: 100px;
    color: white;
    left: 5px;
    top: 5px;
}

.desktop_files_text {
    padding-left: 5px;
    padding-right: 5px;
    background: #52adad;
    pointer-events: none;
}

.desktop_files_text.file_select {
    background: darkblue;
    outline: 1.5px dotted white;
    outline-offset: 0px;
    pointer-events: none;
}

.dli-folder {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -25px;
    left: 5px;
    width: 4.20em;
    height: 2.90em;
    border-left: 0.1em solid whitesmoke;
    border-top: 0.1em solid whitesmoke;
    border-right: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-radius: 0 0.1em 0.1em 0.1em;
    background-image: radial-gradient(#FFFF66 1px, #CCCC99 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
    box-shadow: 5px 5px dimgray;
}

.dli-folder>span {
    position: absolute;
    left: -0.1em;
    bottom: 100%;
    width: 1.5em;
    height: 0.25em;
    background: khaki;
    border: 0.1em solid whitesmoke;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0.1em 0.1em 0 0;
    background-image: radial-gradient(#FFFF66 1px, #CCCC99 1px);
    background-size: 3px 3px;
    box-sizing: content-box;
}

.dli-folder>span::before {
    content: '';
    position: absolute;
    top: -0.1em;
    left: calc(100% - 0.1em);
    width: 0.175em;
    height: 0;
    border-top: 0.05em solid currentColor;
    transform: rotate(55deg);
    transform-origin: left bottom;
    box-sizing: content-box;
}

/* title */
.title {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background-color: navy;
    color: white;
    pointer-events: none;
    font-weight: bold;
    z-index: 1;
}

.title_buttons {
    background-color: rgba();
    position: relative;
    top: -4px;
    right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.title2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    display: flex;
    background: #c0c0c0;
    height: 20.5px;
    position: relative;
    top: -2px;
    z-index: 1;
}

.title2 li:hover {
    background: darkblue;
    color: white;
}

#nexser_program li:hover {
    background: darkblue;
    color: white;
}

/* window_inline_menus */
.window_inline_menus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    width: auto;
    background: #c0c0c0;
    height: 20.5px;
    position: relative;
    top: 20px;
}

.window_inline_menus_parent {
    font-size: small;
    display: block;
    text-align: center;
    justify-content: center;
}

.window_inline_menus_child {
    height: 180px;
    display: none;
    background-color: #c0c0c0;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
    position: relative;
    top: -0.5px;
    text-align: center;
    justify-content: center;
}

/* title_buttons */
.close_button {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 3.5px;
    right: 0px;
    text-align: center;
    font-size: 12px;
}

.close_button2 {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}

.close_button3 {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}

/* 飾り */
.close_button4 {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 3.5px;
    right: 0px;
    text-align: center;
    font-size: 12px;
}

/* 飾り */

.drag_button {
    position: absolute;
    width: 100%;
    right: 0px;
}

.bigscreen_button {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 3.5px;
    right: 23px;
    text-align: center;
    font-size: 12px;
}

.minscreen_button {
    display: none;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 3.5px;
    right: 23px;
    text-align: center;
    font-size: 12px;
}

.minimization_button {
    display: block;
    width: 20px;
    height: 20px;
    background: #c0c0c0;
    position: absolute;
    top: 3.5px;
    right: 45.5px;
    text-align: center;
    font-size: 12px;
}

/*list */

.parent_list {
    font-size: small;
    text-align: center;
}

.child_list {
    display: none;
    position: relative;
    top: -0.1px;
    z-index: 99999;
}

.child_list ul {
    background-color: #c0c0c0;
    width: 100%;
    border-right: solid 1.5px black;
    border-left: solid 1.5px whitesmoke;
    border-bottom: solid 1.5px black;
}

.window_inline_list {
    margin-top: 2.5px;
    column-count: 4;
}

.window_inline_list2 {
    column-count: 1;
}

.window_inline_side {
    display: inline;
    width: 110px;
    height: 100%;
    background: silver;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.window_files {
    position: relative;
    padding-top: 50px;
}

.window_files.file_border {
    outline: 1.5px dotted darkblue;
    outline-offset: -1.5px;
}

.window_files:hover {
    color: white;
    background: darkblue;
}

.child_start_menu li:hover {
    color: white;
    background: darkblue;
}

/* mouse */
.mouse_left.active {
    background: blue;
    color: white;
}

.mouse_right.active {
    background: blue;
    color: white;
}

.mouse_miniwindow {
    width: 185px;
    height: 150px;
    background: gray;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.mouse_testbutton {
    position: absolute;
    left: 10px;
}

.mouse_testbutton button {
    margin-top: 15px;
}

/* note */

.note_pad {
    width: 90%;
    height: auto;
}

.note_area {
    display: block;
    font-size: large;
    outline: none;
    width: 100%;
    height: 100%;
    resize: both;
}

.child_windows.big .note_area {
    width: 100%;
    height: 80vh;
    resize: none;
}

/* textarea */
textarea {
    border-radius: 0;
}

/* calc */

.calc_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calc_button {
    margin-top: 5px;
    font-size: large;
    width: 34px;
    height: 31px;
    border-top: 1.5px #eee solid;
    border-left: 1.5px #eee solid;
    border-bottom: 1.5px #333 solid;
    border-right: 1.5px #333 solid;
    color: black;
    background: silver;
    outline: none;
}

/* htmlviewer */

#editor {
    width: 300px;
    height: 50vh;
}

#preview {
    width: 350px;
    height: 50vh;
}

.child_windows.big #preview {
    width: 99.9%;
    height: 90.0vh;
}

/* help */

.help_menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    font-size: medium;
    position: absolute;
    width: 100%;
    height: 100px;
    pointer-events: none;
    font-size: 10px;
}

.help_border {
    background: #FFFF55;
    border: solid 1px black;
    text-align: center;
    box-shadow: 5px 5px black;
}